@model PizzashopMVCProject.ViewModels.ProfileDataViewModel;
@{
    ViewData["Title"] = "Dashboard Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="body_content">
    <!-- Admin Dashboard Starts-->
    <div class="user_list_header">
        <!-- User Profile Header -->
        <div class="user_header fs-2 fs-lg-1">
            <span>My Profile</span>
        </div>

    </div>


    <!-- My Profile form-select Start-->
    <!-- Edit User Form Starting -->
    <div class="form_container">

        <div>
            <img src="~/images/profile_div_bg.jpg" alt="" class="w-100" height="60px" style="object-fit: cover;">
        </div>
        <div class="d-flex">
            <div class="rounded-circle position-relative bg-white" id="profileImageContainer">
                <img src="~/images/Default_pfp.svg.png" alt="" class="" height="120px">
            </div>
            <div class="rounded-circle position-relative bg-white" id="cameraImageContainer">
                <img src="~/images/icons/camera.svg" alt="" class="" height="30px">
            </div>
            <div class="d-flex flex-column w-100 px-3 py-3">
                <div class="d-flex flex-column flex-sm-row justify-content-between">
                    <span class="fs-4" style="font-weight: 500;">@Model.firstName @Model.lastName</span>
                    <span class="pt-2">@Model.email</span>
                </div>
                <span>Admin</span>
            </div>
        </div>

        <form action="">
            <input type="file" id="uploadImage" hidden/>
            <div class="row">
                <div class="form-floating col-md-6 mb-3">
                    <input asp-for="@Model.firstName" type="text" class="form-control" id="firstName" placeholder="John"/>
                    <label for="firstName">First Name</label>
                </div>
                <div class="form-floating col-md-6 mb-3">
                    <input asp-for="@Model.lastName" type="text" class="form-control" id="lastName" placeholder="Doe" />
                    <label for="lastName">Last Name</label>
                </div>
                <div class="form-floating col-md-6 mb-3">
                    <input asp-for="@Model.userName" type="text" class="form-control" id="username" placeholder="john123" />
                    <label for="username">User Name</label>
                </div>

                <div class="form-floating col-md-6 mb-3">
                    <input asp-for="@Model.phoneNo" type="text" class="form-control" id="phone" placeholder="9879898798" />
                    <label for="phone">Phone</label>
                </div>

                <div class="form-floating col-md-12 col-lg-4 mb-3">
                    <select class="form-select" aria-label="Default select example" id="country">
                        <option selected>Select Country</option>
                        <option value="Account">India</option>
                        <option value="Admin">USA</option>
                        <option value="Cheff">Australia</option>
                    </select>
                    <label for="country">Country</label>
                </div>
                <div class="form-floating col-md-12 col-lg-4 mb-3">
                    <select class="form-select" aria-label="Default select example" id="state">
                        <option selected>Select State</option>
                        <option value="Account">Gujarat</option>
                        <option value="Admin">Rajasthan</option>
                        <option value="Cheff">UP</option>
                    </select>
                    <label for="state">State</label>
                </div>
                <div class="form-floating col-md-12 col-lg-4 mb-3">
                    <select class="form-select" aria-label="Default select example" id="city">
                        <option selected>Select City</option>
                        <option value="Account">Dwarka</option>
                        <option value="Admin">Ahmedabad</option>
                        <option value="Cheff">Jamnagar</option>
                    </select>
                    <label for="city">City</label>
                </div>
                <div class="form-floating col-md-12 col-lg-4 mb-3 flex-grow-1">
                    <input asp-for="@Model.address" type="text" class="form-control" id="address" placeholder="" />
                    <label for="address">Address</label>
                </div>
                <div class="form-floating col-md-12 col-lg-4 mb-3">
                    <input asp-for="@Model.zipcode" type="text" class="form-control" id="zipcode" placeholder="" />
                    <label for="zipcode">Zipcode</label>
                </div>
            </div>

            <!-- Buttons -->
            <div class="d-flex justify-content-end">
                <button class="btn create_user_btn me-2">Update</button>
                <button class="btn cancle_btn">Cancel</button>
            </div>
        </form>
    </div>
</div>


@section Scripts
{
    <script>
        // Open file explorer while clicking option camera img
        const uploadImage = document.getElementById("uploadImage");
        const uploadImageDiv = document.getElementById("cameraImageContainer");
        uploadImageDiv.addEventListener("click", (event) => {
            @* event.preventDefault(); *@
            uploadImage.click();
        })
    </script>
}