@model PizzashopMVCProject.ViewModels.LoginViewModel;
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<!-- Main Container That Hold the left and right part of Login Page -->
    <div class="row d-flex d-flex main_container vh-100 m-0">
      <!-- Left Section :- Pizza image -->
      <div class="d-none d-lg-block col-lg-6 col_section p-0 pizza_main_img">
        <img
          src="./images/dominos_background.jpg"
          alt=""
          class="domino_image"
        />
      </div>

      <!-- Right Section : Login Side Part -->
      <div
        class="col-lg-6 d-flex flex-column justify-content-center align-items-center right_section p-0"
      >
        <!-- Login Section Rows -->
        <div
          class="right_section_login row d-flex flex-column"
          style="width: 80%"
        >
          <!-- Pizzashop Logo -->
          <div
            class="fs-1 col d-flex justify-content-center align-items-center"
          >
            <img
              src="./images/logos/pizzashop_logo.png"
              alt=""
              class="pizzashop_img"
            />
            <span class="pizzashop_name heading_color">PIZZASHOP</span>
          </div>
          <!-- Welcome Slogan -->
          <div class="fs-3 my-2 fw-medium col">
            <span>Welcome,</span>
          </div>

          

          <!-- Login Form -->
          <div class="col">
            <form method="post", asp-action="Login">
              <!-- Email Field -->
              <div class="mb-3 position-relative">
                <input
                  type="email"
                  asp-for="@Model.Email"
                  class="form-control p-2"
                  id="email"
                  aria-describedby="emailHelp"
                  placeholder="Email*"
                  
                />
                <img
                  class="placeholder_icon"
                  src="./images/icons/customer.svg"
                />
                <span asp-validation-for="@Model.Email" class="text-danger"></span>
                @* <p class="validation_msg">Email is Required</p> *@
              </div>

              <!-- Password Field -->
              <div class="mb-3 position-relative">
                <input
                  type="password"
                  asp-for="@Model.Password"
                  class="form-control p-2"
                  id="password"
                  placeholder="Password*"
                  
                />
                <img
                  class="placeholder_icon"
                  src="./images/icons/eye-close.svg"
                  width="20px"
                />
                <span asp-validation-for="@Model.Password" class="text-danger"></span>
                @* <p class="validation_msg">Password is Required</p> *@
              </div>

              <!-- Form Footer -->
              <div
                class="d-flex flex-sm-row justify-content-sm-between flex-column justify-content-center"
              >
                <!-- Remember me check box -->
                <div class="mb-3 form-check">
                  <input
                    type="checkbox"
                    asp-for="@Model.RememberMe"
                    class="form-check-input"
                    id="exampleCheck1"
                  />
                  <label class="form-check-label" for="exampleCheck1"
                    >Remember me</label
                  >
                </div>
                <!-- Forgot Password Link -->
                <a asp-action="ForgotPassword" asp-controller="Home" asp-route-email="@Model.Email" class="text-decoration-none"
                  >Forgot Password?</a>
                @* Validation Summary For A Incorrect Credentials *@
                @Html.ValidationSummary(true)
              </div>
              <!-- Submit Button -->
              <button type="submit" class="mt-2 btn submit_btn w-100">
                Submit
              </button>

            </form>
          </div>
        </div>
      </div>
    </div>

